{% extends "base.html" %}
{% load static %}
{% block nav %}
    {#    {% if  user.groups.all.0.name == 'moderators' %}#}
    <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:create_photo" %}">Добавить фото</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:add_album" %}">Добавить Альбом</a>
    </li>
    {#        <li class="nav-item">#}
    {#            <a class="nav-link" href="{% url 'webapp:index_review' %}">Модерация</a>#}
    {#        </li>#}
    {#    {% endif %}#}
{% endblock %}
{% block content %}
    {% include "partial/list_partial.html" %}

{% endblock %}