{% extends "base.html" %}
{% load static %}
{% block nav %}
        {% if  user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:create_photo" %}">Добавить фото</a>
    </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "webapp:add_album" %}">Добавить Альбом</a>
    </li>
        {% endif %}
{% endblock %}
{% block content %}
    {% include "partial/list_partial.html" %}
{% endblock %}
{% block script %}
    <script src="{% static 'js/indexFavorit.js' %}"></script>
{% endblock %}
