{% extends 'base.html' %}
{% block title %}Альбом Просмотр{% endblock title %}
{% block nav %}
{#    {% if user.is_authenticated and perms.webapp.change_album or is_author %}#}
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url "webapp:update_album" album.pk %}">Изменить</a>
        </li>
{#    {% endif %}#}
{#    {% if user.is_authenticated and perms.webapp.delete_album or is_author %}#}
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url "webapp:delete_album"  album.pk %}">Удалить</a>
        </li>
{#    {% endif %}#}
{% endblock nav %}
{% block content %}
    <div class="container">
        <h1>{{ album.name }}</h1>
        <p>Описания:{{ album.description }}</p>
        <p>Автор:{{ album.author_album }}</p>
    </div>
    {% include "partial/list_partial.html"%}
{% endblock content %}